/* Container for the page */

.content {
  position: relative;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

/* Page Title */

.p_title {
    font-size: 5vw;
    color: #D73646;
    text-align: center;
    padding: 20px 0px;
}

/* Add and Close Buttons */

.new_back {
  position: absolute;
  right: 20px;
}

.close, .back {
  width:70px;
  height:70px;
}

.close {
  position: absolute;
  left:0;
}

.back, .close {
  margin-top:10px;
}

.close:hover, .back:hover {
    opacity: 0.6;
}

h2 {
  color: #D73646;
  margin-bottom: 30px;
}

@media (max-width: 1260px) and (min-width: 640px) {
  .p_title {
    font-size: 7vw;
  }
}

@media (min-width: 640px) {
  .close {
      left: 10px;
      top: 10px;
  }
}

@media (max-width: 640px) {
  .p_title {
    font-size: 48px;
  }

  .close {
    margin: 0;
    bottom:10px;
    left:10px;
  }

  .new_back {
    bottom: 10px;
  }
}

/* Form */

form {
  margin-top:45px;
}

/* Items that are added to the Page */

.item {
    width: 100%;
    height: 100px;
    font-size: 30px;
    color: #D73646;
}

.item:hover {
    background-color: #EBCBCE;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}


/* Buttons */

.btn {
  font-size:36px;
  border-radius:10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 20px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #D73646;
  color: white;
}

.btn:hover {
  background-color: #DF5D65;
}

.button-holder {
  width:100%;
  text-align: center;
}
