
* {
  margin: 0;
  padding: 0;
}

.body{
  margin: auto;
  width:60%;
}

header {
  text-align: center;
<<<<<<< HEAD
  color: purple;
  font-size: 30px
=======
  color: #D73646;
  font-size: 30px;
  margin: 10px;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
}

.wrapper{
  background-image: url(/image/wolf.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-flex;
  width: 100%;
  text-align: center;
  height: 500px;
  border-style: solid;
<<<<<<< HEAD
  color: purple;
=======
  color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
  font-size: 40px;
}

.first{
  width:20%;
<<<<<<< HEAD
  background-color: purple;

=======
  background-color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
}

.second{
  width:20%;
  /* background-color: white */
}

.third{
  width:20%;
<<<<<<< HEAD
  /* background-color: purple; */
=======
  background-color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
}

.fourth{
  width:20%;
  background-color: white;
}

<<<<<<< HEAD
.fifth{
  width:20%;
  background-color: purple;
=======
.fifth {
  width: 20%;
  background-color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
}

p{
  margin-left:75px;
}

/*
.wrapper p{
  margin-top: 225px;
  /* background-color: #bbb; */
/* }  */

.dot p{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin-top: 230px
}

.second .dot p{
<<<<<<< HEAD
  background-color: purple;
=======
  background-color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
  color: white;
}

.fourth .dot p{
<<<<<<< HEAD
  background-color: purple;
=======
  background-color: #D73646;
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
  color: white;
}

.picAnswer{
  margin-top: 3%;
}

#guess {
  border: none;
  font-size: 16px;
  margin-left: 5px;
  height: 50px;
  padding-left: 10px;
  outline: 0;
  width: 75%;
  background-color: #eeeeee;
  color: black;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guess_button {
  height: 50px;
  width: 20%;
  float: right;
  color: white;
<<<<<<< HEAD
  background-color: purple;
=======
  background-color: #D73646;
<<<<<<< HEAD
>>>>>>> 917e0b249bd5b96c4df7117bec3c1fd9275df49b
  border-radius: 1px;
  border-width: 1px 1px 3px;
=======
  border-radius: 10px;
>>>>>>> df732d422a1fb04799a302cca59a5d47830b1137
  text-align: center;
  font-style: normal;
  font-size: 20px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#guess_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

