/* Menu */

/* The btn links to an image that once clicked displays menu */
.dropbtn {
    margin:1vw 1vw 0 1vw;
    width:80px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by fault) */
.dropdown-content {
  display: none;
  margin-left: 1vw;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

/* Individual items in the menu */
.menu_item {
    line-height: 50px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

.menu_item:hover{
    background-color: #DF5D65;
    color:white;
}

/* Styling for when you hover over it */
.img_menu {
    padding:1vw;
}

.img_menu:hover {
    background-color: #DF5D65;
}

/* Logo */
.img_logo {
    float: right;
    margin: 2vw;
    width: 150px;
}

@media (max-width: 1260px) and (min-width: 640px) {
  .img_logo {
    width: 15%;
  }

  .dropbtn {
    width: 6vw;
  }
}

@media (max-width: 640px) {
  .img_logo {
    width: 20%;
  }

  .dropbtn {
    width:8vw;
  }
}

/* Main content */

.p_title {
    color: white;
    font-size: 6vw;
    padding: 10vh 0 8vh 0;
    text-align: center;
    line-height: 1;
}

.content {
  text-align: center;
}

.btn {
    font-size: 3vw;
    border-radius: 20px;
    margin: 4vh 0;
    padding: 2vh 4vw;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media (max-width: 1260px) and (min-width: 640px) {
  .p_title {
    font-size: 10vw;
    padding: 10vh 0 8vh 0;
  }

  .btn {
    font-size: 6vw;
    padding: 2vh 4vw;
  }
}

@media (max-width: 640px) {
  .p_title {
    font-size: 10vw;
    padding: 10vh 0 8vh 0;
  }

  .btn {
    font-size: 6vw;
    padding: 2vh 4vw;
  }
}
