/* Menu */

/* The btn links to an image that once clicked displays menu */
.restartbtn {
    margin:1vw 1vw 0 1vw;
    width:80px;
}

/* Styling for when you hover over it */
.img_menu {
    padding:1vw;
}

.img_menu:hover {
    background-color: #DF5D65;
}

/* Logo */
.img_logo {
    float: right;
    margin: 2vw;
    width: 160px;
}

@media (max-width: 1260px) and (min-width: 640px) {
  .img_logo {
    width: 15%;
  }

  .restartbtn {
    width: 6vw;
  }
}

@media (max-width: 640px) {
  .img_logo {
    width: 20%;
  }

  .restartbtn {
    width:8vw;
  }
}

/* Main content */

.p_title {
    color: white;
    font-size: 6vw;
    padding: 10vh 0 8vh 0;
    text-align: center;
    line-height: 1;
}

.content {
  text-align: center;
}

.btn {
    background-color: white;
    color: black;
    font-size: 3vw;
    border-radius: 20px;
    margin: 4vh 0;
    padding: 2vh 4vw;
}

.btn:hover {
    background-color: #DF5D65;
    color:white;
}

@media (max-width: 1260px) and (min-width: 640px) {
  .p_title {
    font-size: 10vw;
    padding: 10vh 0 8vh 0;
  }

  .btn {
    font-size: 6vw;
    padding: 2vh 4vw;
  }
}

@media (max-width: 640px) {
  .p_title {
    font-size: 10vw;
    padding: 10vh 0 8vh 0;
  }

  .btn {
    font-size: 6vw;
    padding: 2vh 4vw;
  }
}

/* Password Field */

#password_field {
  font-size:48px;
  text-align: center;
}

@media (max-width: 1260px) and (min-width: 640px) {
  #password_field {
    font-size:36px;
  }
}

@media (max-width: 640px) {
  #password_field {
    font-size:24px;
  }
}
