
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #D73646;
}

.bg {
    width: 1024px;
    height: auto;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    color: white;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

.item {
    font-size: 40px;
    color: white;
    width: 250px;
    display: inline-block;
}

#list {
    width: 800px;
    height: auto;
    margin-left: 200px;
}

#img_back {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-left: 130px;
    margin-top: 30px;
}

#img_back:hover {
    cursor: pointer;
    opacity: 0.3;
}